
TMS_UI/User/User/Views/Login_View.xaml
TMS_UI/User/User/obj/Debug/Views/Login_View.g.i.cs
TMS_UI/User/User/obj/Debug/Views/Login_View.g.cs
TMS_UI/User/User/obj/Debug/Views/Login_View.baml
TMS_UI/User/User/obj/Debug/User_MarkupCompile.lref
TMS_UI/User/User/obj/Debug/User_MarkupCompile.i.lref
TMS_UI/User/User/obj/Debug/User_MarkupCompile.i.cache
TMS_UI/User/User/obj/Debug/User_MarkupCompile.cache
TMS_UI/User/User/obj/Debug/User.pdb
TMS_UI/User/User/obj/Debug/User.g.resources
TMS_UI/User/User/obj/Debug/User.exe
TMS_UI/User/User/obj/Debug/User.csproj.GenerateResource.cache
TMS_UI/User/User/obj/Debug/User.csproj.FileListAbsolute.txt
TMS_UI/User/User/obj/Debug/User.csproj.CoreCompileInputs.cache
TMS_UI/User/User/obj/Debug/User.csproj.AssemblyReference.cache
TMS_UI/User/User/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TMS_UI/User/User/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TMS_UI/User/User/bin/Debug/User.pdb
TMS_UI/User/User/bin/Debug/User.exe
TMS_UI/User/.vs/User/v16/.suo
TMS_UI/User/User/Views/Login_View.xaml
TMS_UI/User/User/obj/Debug/Views/Login_View.g.i.cs
TMS_UI/User/User/obj/Debug/Views/Login_View.g.cs
TMS_UI/User/User/obj/Debug/Views/Login_View.baml
TMS_UI/User/User/obj/Debug/User_MarkupCompile.lref
TMS_UI/User/User/obj/Debug/User_MarkupCompile.i.cache
TMS_UI/User/User/obj/Debug/User_MarkupCompile.cache
TMS_UI/User/User/obj/Debug/User.pdb
TMS_UI/User/User/obj/Debug/User.g.resources
TMS_UI/User/User/obj/Debug/User.exe
TMS_UI/User/User/obj/Debug/User.csproj.GenerateResource.cache
TMS_UI/User/User/obj/Debug/User.csproj.FileListAbsolute.txt
TMS_UI/User/User/obj/Debug/User.csproj.CoreCompileInputs.cache
TMS_UI/User/User/obj/Debug/User.csproj.AssemblyReference.cache
TMS_UI/User/User/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TMS_UI/User/User/bin/Debug/User.pdb
TMS_UI/User/User/bin/Debug/User.exe
TMS_UI/User/.vs/User/v16/.suo
