<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="logpath" value="" />
		<add key="TMSip" value="" />
		<add key="TMSport" value="" />
		<add key="TMSusername" value="" />
		<add key="TMSpassword" value="" />
		<add key="CMPip" value="" />
		<add key="CMPport" value="" />
		<add key="CMPusername" value="" />
		<add key="CMPpassword" value="" />
	</appSettings>
</configuration>